# Python caches
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IDE/settings
.idea/
.vscode/
.claude/
.openmcp/
.trae/
.shared/
.cursor/

# build artifacts
web/node_modules/
web/dist/
web/.npm-cache/
chrome-extension/dist/
chrome-extension/dist-dev/
chrome-extension/dist-prod/
chrome-extension/node_modules/
chrome-extension/.env.prod

# logs
.logs/
nexus/logs/
nexus/.idea/
api/logs/
api/target/
api/.idea/

# OS noise
.DS_Store

# Local env & secrets
engine/.env
# nexus/.env - commented out, needs to be committed
# web/.env - commented out, needs to be committed

# Generated artifacts
engine/my_workflow.json
engine/output_example.json

docs/
